/******** Variable et Function ********/
$bg-color-lodging-liste: #f6f6f6;

/******** General ********/
.KASA-Home {
	.KASA-Home-lodging-liste {
		padding: 50px;
		border-radius: 25px;
		background: $bg-color-lodging-liste;
		display: flex;
		gap: 40px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
