@import '../variable.scss';

.KASA-Home {
	.KASA-Home-lodging-liste {
		padding: 50px;
		border-radius: 25px;
		background: $tertiary-color;
		display: flex;
		gap: 40px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
