/******** Variable and Function ********/
$bg-color: black;
$primary-color: white;

/******** General ********/
.Footer {
	display: flex;
	justify-content: center;
	background-color: $bg-color;
	color: $primary-color;
	height: 209px;

	.kasa-logo-copyright-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 114px;
		margin-top: 66px;
		box-sizing: border-box;
	}

	.kasa-logo {
		height: 40px;
		width: auto;
	}
	.kasa-copyright {
		margin: 0;
	}
}
