@import '../variable.scss';

.KASA-Footer {
	display: flex;
	justify-content: center;
	background-color: $quaternary-color;
	color: $secondary-color;
	height: 209px;

	.KASA-Footer-logo-copyright-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 114px;
		margin-top: 66px;
		box-sizing: border-box;
	}

	.KASA-Footer-logo {
		height: 40px;
		width: auto;
	}
	.KASA-Footer-copyright {
		margin: 0;
	}
}
