/******** Variable and Function ********/
$primary-left-right-margin: 100px;

/******** General ********/
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

main {
	margin: 50px $primary-left-right-margin 50px $primary-left-right-margin;
}

.KASA-no-break {
	white-space: nowrap;
}
