@import './variable.scss';

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

main {
	margin: 50px $primary-left-right-margin 50px $primary-left-right-margin;
}

h1,
h2 {
	font-weight: 500;
}

.KASA-no-break {
	white-space: nowrap;
}
