/******** Variable ********/
$primary-left-right-margin: 100px; //margin source of page

$primary-color: #ff6060; //mostly, text color
$secondary-color: white; //mostly, text color
$tertiary-color: #f6f6f6; //mostly, background block and container
$quaternary-color: black; //mostly, background footer
